footer {
	background-color: $second;
	padding: 20px 0;
	text-align: center;
	letter-spacing: 2px;
	p {
		margin-bottom: -20px;
		font-size: 1.3rem;
	}
	a {
		color: #ffffff;
	}
	.userMessage {
		margin-top: 0;
	}
}